# ENV example for discovery-service
DISCOVERY_PORT=8083
DISCOVERY_ENV=development
DISCOVERY_DATABASE_URL=postgres://user:pass@localhost:5432/discoverydb
DISCOVERY_REDIS_URL=redis://localhost:6379/1
DISCOVERY_KAFKA_BROKERS=localhost:9092
DISCOVERY_LOG_LEVEL=debug
